.solution_list {
  display: flex;
  background-color: #ffff;
  padding: 2rem;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 3rem;
  &_countBadge {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light-grey);
    color: var(--color-primary);
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
    font-weight: 700;
    margin-right: 2rem;
  }
  &_content {
    flex: 1;
    line-height: 1.5;
    &_title {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--color-primary);
    }
    &_subtitle {
      color: #8c9197;
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    &_tag {
      display: inline-block;
      background-color: var(--color-light-grey);
      color: var(--color-secondary);
      padding: 0.6rem 1.7rem;
      border-radius: 8px;
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
  &_count {
    display: flex;
    justify-content: space-between;
    &_circle {
      height: 15px;
      width: 15px;
      display: block;
      border-radius: 50%;
      background-color: var(--color-light-grey);
      margin-right: 10px;
    }
    &_value {
      color: var(--color-primary);
      font-weight: bold;
    }
  }
}
