:root {
  --color-primary: #393e68;
  --color-secondary: #465fe8;
  --color-light-grey: #f7f8fc;

  --box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; // 1rem = 10px; browser default font-size is 16px but what want is 10px relative to the browser default font-size. 10px/16px
}
$primary: #9a57f2;
body {
  background-color: var(--color-light-grey);
  font-family: sans-serif;
  font-weight: 400;
}
